@charset "utf-8";
/* CSS Document */



body {
	background-image:url(../images/sprinkles.png);
	font-size: 100%/1.5 "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
}

h1 {
	font-size: 2.26em;
	font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	font-style:italic;
	color:#835930;
	text-shadow: 2px 2px 4px rgba(146, 150, 150, 1);
}

#name p {
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	font-size:1.5em;
	line-height:10pt;
	color:#6E8343;
}

.nav{
	margin: 5px 5px 5px 5px;
	border: none;
	padding: inherit;
	content: 2px;
}

.nav ul li {
	display: inline;
	margin: 5px 5px 5px 5px;
	content: 20px;
	color: #FFFFFF;
	background-color: #835930;
	border: 2px solid black;
	border-radius: 5px;
}

section{
	padding-left: 
	width: 800px;
	
}

#center-img{
	border: 2px solid #6E8343;
	width: 1600px;
}