@charset "UTF-8";



img, object, embed, video {
	max-width: 100%;
}

.ie6 img {
	width:100%;
}


.fluid {
	clear: both;
	margin-left: 0;
	width: 100%;
	float: left;
	display: block;
}

.fluidList {
    list-style:none;
    list-style-image:none;
    margin:0;
    padding:0;        
}

/* Mobile Layout: 480px and below. */
  
.gridContainer {
	margin-left: auto;
	margin-right: auto;
	width: 88.0326%;
	padding-left: 1.4836%;
	padding-right: 1.4836%;
	clear: none;
	float: none;
}
#div1 {
}
.zeroMargin_mobile {
    margin-left: 0;
}
.hide_mobile {
    display: none;
}

/* Tablet Layout: 481px to 768px. Inherits styles from: Mobile Layout. */

@media only screen and (min-width: 481px) {

	#wrapper {   
		width: 320px;
		}
}



@media only screen and (min-width: 769px) {

	#wrapper {   
		width: 100%;
		}
	#section {
		width: 100%;  
		}
	
}


@media screen and (min-width: 900px){
	#wrapper {   
		width: 100%;
	}
	#section {
		width: 70%;  
		}
	#center-img {
		width: 100%;
		}
	#treat-img {
		width:30%;
		}
	
}









