@charset "utf-8";
/* CSS Document */


body {
	font: 100%/1.5 Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
	background-image:url(../images/sprinkles.png);
	max-width: 900px;
	margin: 26px auto;
}

.nav{
    border:1px solid #ccc;
    border-width:1px 0;
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
}
.nav li{
    display:inline;
}

.nav a{
    display:inline-block;
    padding:10px;
	text-transform: uppercase;
	font-weight: bold;
	color:#698B1C;
}

a {
	text-decoration:none;
}

h1 {
	font-size: 2.26em;
	font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	font-style:italic;
	color:#835930;
	text-shadow: 2px 2px 4px rgba(146, 150, 150, 1);
}

#logo p {
	font-family:Constantia, "Lucida Bright", "DejaVu Serif", Georgia, serif;
	font-style:italic;
	font-size:1.5em;
	line-height:5pt;
	color:#6E8343;
}

article {
	width: 100%;
	
}

#center-img{
	width: 100%;
}

img {
    max-width: 100%;
    height: auto;
}

#wrapper {       
	margin:0 auto;
	overflow:hidden;
	border:thin #B0C4AC;	
}

#one {
	color: #835930;
	font-size: 1.875em;
	font-weight:bold;
	text-align:center;
}

#two {
	font-size:1.125em;
	color:#6E8343;
}

#treat-img{
	float:left;
	margin:auto;
	width:81.25%; /* 650 / 800 = 0.8125 x 100 = 81.25% */
}

#treat-img img {
	max-width:100%; 
	height: auto;
}

#sidebar {
	float:right;
	margin:auto;
	max-height:434px;
	max-width:212px;
	color: white;
	font-weight:bold;
}

a[href^="#"] {
	background-color:#E6B85C;
	border-radius: 5px;
	color: white;
	border-bottom-color:#65A438;
}

div > h2 {
  background-color:#F1C667;
  color:#57490C;
}
 
p:nth-child(1) {
    background: #6E8343;
	font-style:italic;
	font-weight:bold;
	font-size:1.25em;
}



p + p {
   text-indent: 0.5em;
   margin-bottom: 0;
}
h1 + p {
	text-align:center;
}
a:link{
  color:#6E8343;
}
a:visited{
  color:#007C90;
}
a:hover{
  color:brown;
}
a:active{
  color:#1DB3C0;
}





