@charset "UTF-8";
/* CSS Document */
body {
   font: 100%/1.4 Verdana, Arial, Helvetica, sans-serif;
   background-color: #42413C;
   margin: 0;
   padding: 0;
   color: tan;
}

aside, article, section, header, footer, nav {
	display: block;
}


li{
	display:inline;
	padding:25px;
	align-content:center;
}

#monoimg{
	align:center;
	border:;
}

